body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #eef3ff, #dfe9f3);
    color: #222;
    text-align: center;
}

header {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    padding: 30px;
}

nav {
    background: white;
    padding: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

nav a,
nav button {
    margin: 8px;
    padding: 10px 15px;
    background: #243b55;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover,
nav button:hover {
    background: #ff6600;
}

main {
    display: flex;
    gap: 20px;
    padding: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.menu, .content {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.menu {
    width: 250px;
}

.content {
    width: 500px;
}

.topic-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    background: #4b79a1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.topic-btn:hover {
    background: #283e51;
}

img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    border-radius: 12px;
}

audio {
    margin-top: 15px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .menu, .content {
        width: 85%;
    }
}
